.login-container.is-primary {
  margin-top: 80px;
  background-color: #f0499d;
  color: white;
}
.login-container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-container-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}
.login-container.is-primary .title {
  color: #fff;
}
.login-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 565px), print {
  .columns:not(.is-desktop) {
    display: flex;
    justify-content: center;
  }
}
.columns.is-multiline {
  flex-wrap: wrap;
}
.columns:last-child {
  margin-bottom: -0.75rem;
}
.columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.columns.is-mobile.is-centered {
  margin-top: 120px;
  margin-bottom: 120px;
}
.login-column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}
@media screen and (min-width: 769px), print {
  .login-column.is-one-third,
  .login-column.is-one-third-tablet {
    flex: none;
    width: 50%;
  }
}
@media screen and (max-width: 560px), print {
  .login-column.is-one-third,
  .login-column.is-one-third-tablet {
    flex: none;
    width: 80%;
  }
}
.login-button.is-primary.is-outlined {
  background-color: transparent;
  border-color: #f0499d;
  color: #e94496;
}
.login-button.is-medium {
  border-radius: 2px;
  font-size: 0.75rem;
}
.is-pulled-right {
  float: right !important;
}
.is-pulled-left {
  float: left !important;
}

.login-button.is-primary.reset-password {
  background-color: transparent;
  color: #e94496;
  border-color: transparent;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}
.login-button {
  background-color: white;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
}
.login-button.is-primary.is-outlined:hover {
  border-color: #dfaa19;
  color: #dfaa19;
}
